body {
    padding-top: 70px;
    padding-bottom: 30px;
}

h3 {
    font-family: Helvetica;
}
p {
    font-family: Helvetica;
    color: #3c3c3c;
}

.jumbotron {
    background-color: #c4e3f3 !important;
}
.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}
.carousel-inner > .item > img {
    width:640px;
    height:360px;
}

.sResultsText {
    padding-top: 0px;
    padding-bottom: 0px;
}


/* BANNER */
#mainLogo{
    background-color: #2b669a;
}
#mainLogo a{
    color: white;
    font-family: Helvetica;
    font-size: 25px;
    font-weight: bold;
    padding: 1px 10px 0px 10px;
    margin-left : 0px;
}
#navbar{
    background-color: #2b669a;

}
#navbar a{
    background-color: darkblue;
    color: white;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid black;
}

#loginButton{
    display: flex;
    justify-content: center;
    height : 50px;

}

/* SIDENAV */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    overflow-x: hidden;
    transition: 1.3s;
    padding-top: 60px;
    font-family: "Lato", sans-serif;
}

.sidenav p {
    padding: 16px 8px 8px 8px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    display: block;

}

.sidenav a {
    padding: 16px 8px 16px 8px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-weight: bolder;
    display: block;

}

.sidenav .closebtn {
    position: absolute;
    top: -10px;
    right: 10px;
}
.sidenav {
    font-size: 36px;
    margin-left: 0px;
    width: 250px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #1b6d85;
    overflow-x: hidden;
    padding-top: 20px;
}


/* RESERVATION */
#reservationPage h3{
    font-size: 25px;
    font-weight:bold;
}

#reservationPage  p{
    padding-top:12px;
    padding-bottom: 12px;
    font-size: 15px;
}

/* Location Detail */
#locationDetails h3{
    font-size: 25px;
    font-weight:bold;
}

#locationDetails p {
    padding-top:12px;
    padding-bottom: 12px;
    font-size: 15px;
}