<style>
    #mainLogo{
        background-color: #2b669a;
    }
    #mainLogo a{
        color: white;
        font-family: Helvetica;
        font-size: 25px;
        font-weight: bold;
        padding: 1px 10px 0px 10px;
        margin-left : 0px;
    }
    #navbar{
        background-color: #2b669a;

    }
    #navbar a{
        background-color: darkblue;
        color: white;
        font-family: Helvetica;
        font-size: 15px;
        font-weight: bold;
        border: 1px solid black;
    }
</style>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid" style="background-color: #2b669a;">
        <div id="mainLogo" class="navbar-header">

            <a class="navbar-brand" href="#/">

                <img class="img-responsive" style="display:inline-block; height:100% ;" src="pictures/32477145.png" alt="logo" />
                Mes Locations Vacances
            </a>

        </div>

        <div id="navbar" class="navbar-collapse collapse" ng-controller='bannerController'>
            <ul class="nav navbar-nav">
                <li><a href="javascript:void(0)" ng-click="openNav()">SEARCH</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right " id="loginButton"  >{{appDetails.rightComponent}}

                <button ng-click="open('login.html','connexionController')" class="btn btn-warning">S'identifier</button>
                <button ng-click="open('registrationForm.html','registerController')" class="btn btn-warning">creer un compte </button>

            </ul>
            <!-- une fois authentifié l'utilisateur devra voir cette image sur la banner et non les deux boutons login et register-->
            <!--TODO : faire une sote de if pour afficher l'une ou l'autre des boutons -->
            <ul class="nav navbar-nav navbar-right " id="userD">

               <!-- <a href="#/profilePage" ><img src="pictures/32477145.png"></a> -->

            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>