<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid" style="background-color: #2b669a;">
        <div id="mainLogo" class="navbar-header">

            <a class="navbar-brand" href="#/">

                <img class="img-responsive" style="display:inline-block; height:100% ;" src="pictures/32477145.png" alt="logo" />
                MesLocationsVacances
            </a>

        </div>

        <div id="navbar1" class="navbar-collapse collapse" >
            <ul class="nav navbar-nav">
                <li><a href="javascript:void(0)" ng-click="openNav()">Recherche</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right " ng-hide="rootScopeAuthentified" id="loginButton"  >

                <button ng-click="open('login.html','connexionController')" class="btn btn-warning" style="margin-left:10px;margin-right:5px;align-self:center;">S'identifier</button>
                <button ng-click="open('registrationForm.html','RegisterController')" class="btn btn-warning" style="margin-left:10px;margin-right:5px;align-self:center;">creer un compte </button>

            </ul>


            <ul class="nav navbar-nav navbar-right " ng-show="rootScopeAuthentified" id="userD">

                 <a href="#/profilePage" ><img width="50" height="50" id="myProfile" src="pictures/icone-mon-compte.png" /></a>
                 <a href="#/" ng-click="deconnecter('connexionController')" class="btn btn-warning" >se Deconnecter </a>

            </ul>
            <!-- une fois authentifié l'utilisateur devra voir cette image sur la banner et non les deux boutons login et register-->


        </div><!--/.nav-collapse -->

    </div>
</nav>