<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="#/">

                <img class="img-responsive" style="display:inline-block; height:100% ; margin-top:-5px" src="pictures/32477145.png" alt="logo" />
                Mes Locations Vacances
            </a>

        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/searchResults">test result</a></li>
                <li><a href="javascript:void(0)" ng-click="openNav()">SEARCH</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right " id="loginButton">
               <!-- <li><a href="#loginPage">Log in</a></li> -->
                <button ng-click="open('login.html','connexionController')" class="btn btn-warning">S'identifier</button>
                <button ng-click="open('registrationForm.html','registerController')" class="btn btn-warning">creer un compte </button>
            </ul>
            <!-- une fois authentifié l'utilisateur devra voir cette image sur la banner et non les deux boutons login et register-->
            <!--TODO : faire une sote de if pour afficher l'une ou l'autre des boutons -->
            <ul class="nav navbar-nav navbar-right hidden " id="userD">
                <!-- <li><a href="#loginPage">Log in</a></li> -->
                <a href="#/profilePage" ><img src="pictures/32477145.png"></a>

            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>