<div id="searchRes">
    <div class="jumbotron" ng-controller="searchPanel" ng-repeat="house in resItems track by $index" style="height:250px; padding:10px;">
                <div class="col-md-3" style="height:100%;">
                    <img src={{house.photo}} style="height:100%;">
                </div>
                <div class="col-md-9 sResultsText" style="height:100%;">
                    <h3>{{house.name}}</h3>
                    <p>{{house.establishment.place}}</p>
                    <p>{{house.nbRoom}}</p>
                    <p>{{house.description}}</p>
                </div>
                <div>
                    <a href="#/locationPage" ng-click="loadDetails(house.id)">test page</a>
                </div>
    </div>
</div>