<div id="mySidenav" class="sidenav" ng-controller="dates">
    <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
    <div class="input-group group_query" style="padding-left: 16px;">
        <div class="row-md-2">
        <p style="margin-top:-20px;">Lieu</p>

        <input id="queryPlace"
               type="text"
               class="form-control input-query"
               placeholder="Lieu"
               ng-keydown="rechercher($event.keyCode)"
               style="margin-bottom: 10px; margin-top: -10px;"
               >
        </div>

   <!-- <a>Date de debut</a>
    <div class="input-group group_query datepicker" style="padding-left: 32px;" >
        <input  id="datepicker1"
                placeholder="JJ-MM-AAAA"
                class="form-control input-query"/>
    </div>
    <a>Date de fin</a>
    <div class="input-group group_query datepicker" style="padding-left: 32px;" >

        <input  id="datepicker2"
                placeholder="JJ-MM-AAAA"
                class=" form-control input-query"/>
    </div> -->

        <!-- partie qui faisais la date avant -->
         <p>Date de début</p>

         <input id="query3"
                type="date"
                class="form-control input-query"
                ng-controller="dates"
                placeholder="JJ-MM-AAAA"
                ng-model="date"
                ng-keydown="rechercher($event.keyCode)"
                style="margin-bottom: 10px; margin-top:-10px;"
         >

         <p>Date de fin</p>
         <input id="query2"
                ng-controller="dates"
                type="date"
                class="form-control input-query"
                placeholder="JJ-MM-AAAA"
                ng-model="date"
                ng-keydown="rechercher($event.keyCode)"
                style="margin-bottom: 10px; margin-top:-10px;"
         >

        <p>Durée (en jours)</p>

        <input id="queryLength"
               type="text"
               class="form-control input-query"
               placeholder="Durée"
               ng-keydown="rechercher($event.keyCode)"
               ng-model="searchL"
               ng-change="searchValidation()"
               style="margin-bottom: 10px; margin-top:-10px;"
        >
        <p>Nombre d'adultes</p>

        <input id="querySizeA"
               type="text"
               class="form-control input-query"
               placeholder="Nombre adultes"
               ng-model="searchSA"
               ng-change="searchValidation()"
               ng-keydown="rechercher($event.keyCode)"
               style="margin-bottom: 10px; margin-top:-10px;"
        >
        <p>Nombre d'enfants</p>

        <input id="querySizeC"
               type="text"
               class="form-control input-query"
               placeholder="Nombre enfants"
               ng-model="searchSC"
               ng-change="searchValidation()"
               ng-keydown="rechercher($event.keyCode)"
               style="margin-bottom: 10px; margin-top:-10px;"
        >
        <div ng-if="searchValid">
            <a href="#/searchResults" ng-click="query_search()" style="margin-bottom:50px;">Go</a>
        </div>
        <div ng-if="!searchValid">
            <a style="text-decoration: line-through; padding-bottom:0px">Go</a>
            <p style="font-size:15px; color:darkred; margin-bottom:50px; padding-top:5px">Durée, nombre Adulte ou nombre Enfant non valide (doit être vide ou supérieur à zéro)</p>
        </div>

    </div>
</div>